<h1>List of articles</h1>

<%= form_tag articles_path, method: :get do %>
  <div class="input-group">
    <%= text_field_tag :q, params[:q] || "", class: "form-control" %>
    <span class="input-group-btn">
      <%= submit_tag "Search", class: "btn btn-default" %>
    </span>
  </div>
<% end %>
<h1>TOP COMMENTED!!!!!!!!</h1>
<%= link_to @top_commented_article.title, article_path(@top_commented_article.id) %>

<h2><%= link_to "New article", new_article_path %></h2>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Text</th>
      <th>Author</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= article.author.email %></td>
        <td id="summary-<%= article.id %>">Comments: <%= article.comments_count %></td>
        <td><%= link_to "Summary", article_path(article, format: :json), class: "btn btn-info summary" %></td>
        <td><%= link_to "Show", article_path(article), class: "btn btn-info" %></td>
        <td>
          <% if policy(article).edit? %>
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-warning" %>
          <% end %>
        </td>
        <td>
          <% if policy(article).destroy? %>
            <%= link_to "Destroy", article_path(article),
                class: "btn btn-danger",
                method: :delete,
                data: { confirm: "Are you sure?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @articles %>

<h2><%= link_to "New article", new_article_path %></h2>
