<h1>List of articles</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :title_cont %>
  <%= f.search_field :title_cont %>

  <%= f.label :text_cont %>
  <%= f.search_field :text_cont %>

  <%= f.label :author_id_eq %>
  <%= f.select :author_id_eq, options_from_collection_for_select(User.all, "id", "email", @q.author_id_eq), include_blank: true %>
  <%= f.submit %>
<% end %>

<h1>TOP COMMENTED!!!!!!!!</h1>
<%= link_to @top_commented_article.title, article_path(@top_commented_article.id) %>

<h2><%= link_to "New article", new_article_path %></h2>
<table class="table">
  <thead>
    <tr>
      <th><%= sort_link(@q, :id) %></th>
      <th><%= sort_link(@q, :title) %></th>
      <th><%= sort_link(@q, :text) %></th>
      <th><%= sort_link(@q, :author_id) %></th>
      <th><%= sort_link(@q, :comments_count) %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= article.author.email %></td>
        <td id="summary-<%= article.id %>">Comments: <%= article.comments_count %></td>
        <td><%= link_to "Summary", article_path(article, format: :json), class: "btn btn-info summary" %></td>
        <td><%= link_to "Show", article_path(article), class: "btn btn-info" %></td>
        <td>
          <% if policy(article).edit? %>
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-warning" %>
          <% end %>
        </td>
        <td>
          <% if policy(article).destroy? %>
            <%= link_to "Destroy", article_path(article),
                class: "btn btn-danger",
                method: :delete,
                data: { confirm: "Are you sure?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @articles %>

<h2><%= link_to "New article", new_article_path %></h2>
