<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<p>
  <strong>Author:</strong>
  <%= @article.author.email %>
</p>
<p>
  <strong>Tags:</strong>
  <% @article.tags.each do |tag| %>
      <%= link_to articles_path(q: tag), style: 'margin-left: 4px' do %>
        <span class="label label-info">
          <%= tag %>
        </span>
      <% end %>
  <% end %>
</p>
<p>
  <strong>Created at:</strong>
  <%= @article.created_at %>
</p>
<p>
  <strong>Updated at:</strong>
  <%= @article.updated_at %>
</p>

<%= pluralize(@article.likes.count, "person") %> liked this article

<% if @like.persisted? %>
  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
  <%= link_to "Unlike", article_like_path(@article, @like), method: :delete %>
<% else %>
  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
  <%= link_to "Like", article_likes_path(@article), method: :post %>
<% end %>

<%= render 'comments/form' %>

<h2>Comments</h2>

<%= render @article.comments.reload %>

<%= link_to "Back", articles_path %>
<%= link_to "Edit", edit_article_path(@article) %>
